<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Professores Fatec Sorocaba</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap"
      rel="stylesheet"
    />
  </head>

  <style>
    * {
      padding: 0;
      margin: 0;
    }

    nav {
      display: flex;
      background-color: #c22020;
      font-weight: lighter !important;
      color: #fff;
      font-family: "DM Serif Display", serif;
      justify-content: center;
      align-items: center;
      padding: 1rem;
    }

    table#tabela1 tr td {
      /* Toda a tabela com fundo creme */
      background: #ffc;
    }

    table#tabela1 tr.cabeca td {
      background: #eee;
      /* Linhas com fundo cinza */
    }
  </style>

  <body>
    <table border="1px" cellpadding="5px" cellspacing="0" ID="tabela1">
      <nav><h1>Professores Fatec</h1></nav>

      <tr class="cabeca">
        <td>Nome</td>
        <td>E-Mail</td>
      </tr>

      <% console.log('QUANTIDADE DE REGISTROSà' + profs.length); %> <% for(var i
      = 0; i < profs.length; i++){ %>
      <tr>
        <td><%= profs[i].NOME_PROFESSOR %></td>
        <td><%= profs[i].EMAIL_PROFESSOR %></td>
      </tr>

      <% } %>
    </table>
  </body>
</html>
