* {
    margin: 0;
    padding: 0;
    
}

a {
    text-decoration: none;
}


body {
    background-color: #191516;
}
html {
    scroll-behavior: smooth;
  }

nav {
    position: fixed;
    font-family: 'Poppins';
    display: flex;
    width: 100%;
    z-index: 2;
   justify-content: flex-end;
   

}

nav a {
    margin: 1rem;
    text-decoration: none;
    color: #F3F2ED;
    display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
 
  position: relative;
}

nav a:hover {
    margin: 1rem;
    text-decoration: none;
    color: #F3F2ED;
    
}
nav .top {
    background: transparent;
}
nav a:before {
    content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  top: 100%;
  background: #A9D1C9;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.active::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 100%;
    background: #de2826;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

nav a:hover:before, nav a:focus:before, nav a:active:before {
    left: 0;
    right: 0;
  }
  
    


main {
    background-color: #191516;
    color: #F3F2ED;
    height: 100vh;
    font-family: 'Poppins';
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    

   
}

main .txt-type {
    border-right: #F3F2ED 4px solid;
    display: inline;
}
main #bolinha {
    position: absolute;
    background-color: #de2826;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    z-index: 1;
    transform: translate(80%, 40%);
    

}


main #bolinha-2 {
    position: absolute;
    background-color: #A9D1C9;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    z-index: 1;
    transform: translate(-400%, -110%);
    

}

main #bolinha-3 {
    position: absolute;
    background-color: #F3F2ED;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: 1;
    transform: translate(-400%, 250%);
    
}

main #bolinha-4 {
    position: absolute;
    border: #F3F2ED dashed 1px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    z-index: 0;
    transform: translate(400%, 50%);
    
}

main #bolinha-5 {
    position: absolute;
    border: #F3F2ED dashed 1px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    z-index: 0;
    transform: translate(40%, 90%);
    
}

main .text-container {
    z-index: 33;
    text-align: center;
}

#introdução, #Design-Responsivo {
    background-color: #191516;
    font-family: 'Poppins';
    color: #fff;
    padding: 0 10rem 5rem;
   

}

#introdução h3, #Design-Responsivo h3 {
    font-size: 2rem;
    padding: 0 1rem;
    display: inline-block;
    color: #191516;
    background-color: #A9D1C9;
    margin: 1rem 0;
    
}


#introdução p, #Design-Responsivo p {
    text-align: justify;
    

}

.img-box {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.card {
    display: inline-flex;
    background-color: #de2826;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
 }
 

 .card img {
     
    height: 18rem;
    width: auto;
    transition: 0.5s;
    border-radius: 0 0 10px 10px;
    
   
}

.card img:hover {
    
    height: 18.5rem;
    

}

.quote {
    background-color: #F3F2ED;
    font-size: 1rem;
    color: #191516;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    border-top: #de2826 10px solid;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}




.GoDown {
    background-color: #A9D1C9;
    padding: 10px;
    color: #191516;
    border-radius: 50%;
    margin-top: 0.5rem;
    
}


ul, li {
    text-align: justify;
    
}

.red {
    background-color: #de2826;
    color: #F3F2ED;
}

.icon {
    color: #F3F2ED;
    transition: 0.5s;
    margin: 0.5rem ;
}

.icon:hover {
    color: #de2826;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 5rem 0 0rem;
    
}

footer p {
    text-align: center!important;
}

.contact {
   
   position: fixed;
   top: 40%;
   left: 100%;
   display: flex;
   transform: translate(-40%,-40%);
    padding: 1rem 1rem;
   background-color: #de2826;
    line-height: 1.3rem;
   font-family: 'poppins';
   font-weight: 600;
   color: #F3F2ED;
   align-items: center;
   justify-content: center;
   transition: 0.5s;
   border-radius: 10px;

  
}

.contact:hover{
    transform: translate(-100%,-40%);
    transition: 0.5s;
    
}



.contact .media .icon:hover {
    color: #191516
}


.contact h4 {
    text-transform: uppercase;
    padding-right: 1rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 736px) {
    nav {
        justify-content: center;
        text-align: center;
       
    }
    nav a {
        margin: 0.3rem;
        font-size: 0.8rem;
    }

    nav a:hover {
        margin: 0.3rem;
        
    }

    main #bolinha {
        position: absolute;
        background-color: #de2826;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        z-index: 1;
        transform: translate(80%, -10%);
       
    
    }
    
    
    main #bolinha-2 {
        display: none;
        
    
    }
    
    main #bolinha-3 {
        position: absolute;
        background-color: #F3F2ED;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        z-index: 1;
        transform: translate(-400%, 250%);
        
    }
    
    main #bolinha-4 {
       
        display: none;
    }
    
    main #bolinha-5 {
        position: absolute;
        border: #F3F2ED dashed 1px;
        height: 90px;
        width: 90px;
        border-radius: 50%;
        z-index: 0;
        transform: translate(100%, 100%);
        
    }
.contact {
    display: none;
}

main .text-container {
    margin: 1.5rem;
}
    
#introdução, #Design-Responsivo {
    padding: 2rem;
    align-items: center;

}

#introdução h3, #Design-Responsivo h3 {
    display: flex;
    margin: 0.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#introdução p, #Design-Responsivo p {
   padding-top: 0.5rem ;
}

.quote {
    text-align: center;
    padding: 0.5rem;
}

.card img {
     
    height: auto;
    width: 16rem;
    transition: 0.5s;
    border-radius: 0 0 10px 10px;
    
   
}

.img-box {
    width: 100%;
    padding: 1rem 0rem;
   
    display: flex;
    justify-content: center;
}



}