<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title> História da Fatec Sorocaba</title>
</head>

<body>
    <p> A Faculdade de Tecnologia de Sorocaba foi criada em 20/05/1970 pelo então Governador do Estado de São Paulo, Dr. Roberto Costa de Abreu Sodré. Foi a primeira escola pública de nível superior em Sorocaba.
    </p>
    <br>
    <br>
    <p>
        O primeiro dia letivo na Fatec Sorocaba ocorreu no dia 07/06/1971, nas instalações da atual Etec Rubens de Faria e Souza com 66 alunos que iniciavam seus estudos no então Curso Técnico Superior de Oficinas, atualmente Tecnologia em Fabricação Mecânica.
    </p>
</body>

</html>

