<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Professores Fatec Sorocaba</title>
</head>

<body>
  <h1>Está é a lista do corpo docente da Fatec Sorocaba</h1>
</ul>
</body>
</html>
